<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="print" type="TicketShop.Print.Base.Config, Print"/>
    <section name="data" type="TicketShop.Data.Settings, Data"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TicketShop.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <print>
    <settings>
      <add key="PluginFolder" value="Plugin"/>
      <add key="LogEnabled" value="True"/>
    </settings>
  </print>
  <data debug="false">
    <debug>
      <add key="ProvidersUri" value="http://localhost:4857/restapi/providers"/>
      <add key="StageUri" value="http://localhost:4857/restapi/stage"/>
      <add key="LoginUri" value="http://localhost:4857/restapi/login"/>
      <add key="ActionsUri" value="http://localhost:4857/restapi/actions"/>
      <add key="ActionUri" value="http://localhost:4857/restapi/action"/>
      <add key="EventsUri" value="http://localhost:4857/restapi/events"/>
      <add key="EventUri" value="http://localhost:4857/restapi/event"/>
      <add key="SeatStatsUri" value="http://localhost:4857/restapi/seatstats"/>
      <add key="SeatingMapUri" value="http://localhost:4857/restapi/seatingmap"/>
      <add key="MapSeatPointsUri" value="http://localhost:4857/restapi/mapseatpoints"/>
      <add key="SeatsUri" value="http://localhost:4857/restapi/seats"/>
      <add key="TicketsUri" value="http://localhost:4857/restapi/tickets"/>
      <add key="TicketUri" value="http://localhost:4857/restapi/ticket"/>
      <add key="BlanksUri" value="http://localhost:4857/restapi/blanks"/>
      <add key="ReportsUri" value="http://localhost:4857/restapi/reports"/>
      <add key="ReportUri" value="http://localhost:4857/restapi/report"/>
      <add key="OrdersUri" value="http://localhost:4857/restapi/orders"/>
      <add key="CustomerUri" value="http://localhost:4857/restapi/customer"/>
      <add key="CreateOrderUri" value="http://localhost:4857/restapi/create"/>
      <add key="UpdateOrderUri" value="http://localhost:4857/restapi/update"/>
      <add key="SendLogUri" value="http://localhost:4857/restapi/log"/>
      <add key="SendMessageUri" value="http://localhost:4857/restapi/message"/>
      <add key="ConfirmPaymentUri" value="http://localhost:4857/restapi/confirm"/>
      <add key="PrintUri" value="http://localhost:4857/restapi/print"/>
      <add key="SetTicketPrintedUri" value="http://localhost:4857/restapi/printed"/>
      <add key="CancelUri" value="http://localhost:4857/restapi/cancel"/>
      <add key="AnnulUri" value="http://localhost:4857/restapi/annul"/>
      <add key="LockUri" value="http://localhost:4857/restapi/lock"/>
      <add key="ReleaseUri" value="http://localhost:4857/restapi/release"/>
    </debug>
    <test>
      <add key="ProvidersUri" value="http://localhost/ETicket.Web/restapi/providers"/>
      <add key="StageUri" value="http://localhost/ETicket.Web/restapi/stage"/>
      <add key="LoginUri" value="http://localhost/ETicket.Web/restapi/login"/>
      <add key="ActionsUri" value="http://localhost/ETicket.Web/restapi/actions"/>
      <add key="ActionUri" value="http://localhost/ETicket.Web/restapi/action"/>
      <add key="EventsUri" value="http://localhost/ETicket.Web/restapi/events"/>
      <add key="EventUri" value="http://localhost/ETicket.Web/restapi/event"/>
      <add key="SeatStatsUri" value="http://localhost/ETicket.Web/restapi/seatstats"/>
      <add key="SeatingMapUri" value="http://localhost/ETicket.Web/restapi/seatingmap"/>
      <add key="MapSeatPointsUri" value="http://localhost/ETicket.Web/restapi/mapseatpoints"/>
      <add key="SeatsUri" value="http://localhost/ETicket.Web/restapi/seats"/>
      <add key="TicketsUri" value="http://localhost/ETicket.Web/restapi/tickets"/>
      <add key="TicketUri" value="http://localhost/ETicket.Web/restapi/ticket"/>
      <add key="BlanksUri" value="http://localhost/ETicket.Web/restapi/blanks"/>
      <add key="ReportsUri" value="http://localhost/ETicket.Web/restapi/reports"/>
      <add key="ReportUri" value="http://localhost/ETicket.Web/restapi/report"/>
      <add key="OrdersUri" value="http://localhost/ETicket.Web/restapi/orders"/>
      <add key="CustomerUri" value="http://localhost/ETicket.Web/restapi/customer"/>
      <add key="CreateOrderUri" value="http://localhost/ETicket.Web/restapi/create"/>
      <add key="UpdateOrderUri" value="http://localhost/ETicket.Web/restapi/update"/>
      <add key="SendLogUri" value="http://localhost/ETicket.Web/restapi/log"/>
      <add key="SendMessageUri" value="http://localhost/ETicket.Web/restapi/message"/>
      <add key="ConfirmPaymentUri" value="http://localhost/ETicket.Web/restapi/confirm"/>
      <add key="PrintUri" value="http://localhost/ETicket.Web/restapi/print"/>
      <add key="SetTicketPrintedUri" value="http://localhost/ETicket.Web/restapi/printed"/>
      <add key="CancelUri" value="http://localhost/ETicket.Web/restapi/cancel"/>
      <add key="AnnulUri" value="http://localhost/ETicket.Web/restapi/annul"/>
      <add key="LockUri" value="http://localhost/ETicket.Web/restapi/lock"/>
      <add key="ReleaseUri" value="http://localhost/ETicket.Web/restapi/release"/>
    </test>
    <release>
      <add key="ProvidersUri" value="http://localhost/test:8080/restapi/providers"/>
      <add key="StageUri" value="http://localhost/test:8080/restapi/stage"/>
      <add key="LoginUri" value="http://localhost/test:8080/restapi/login"/>
      <add key="ActionsUri" value="http://localhost/test:8080/restapi/actions"/>
      <add key="ActionUri" value="http://localhost/test:8080/restapi/action"/>
      <add key="EventsUri" value="http://localhost/test:8080/restapi/events"/>
      <add key="EventUri" value="http://localhost/test:8080/restapi/event"/>
      <add key="SeatStatsUri" value="http://localhost/test:8080/restapi/seatstats"/>
      <add key="SeatingMapUri" value="http://localhost/test:8080/restapi/seatingmap"/>
      <add key="MapSeatPointsUri" value="http://localhost/test:8080/restapi/mapseatpoints"/>
      <add key="SeatsUri" value="http://localhost/test:8080/restapi/seats"/>
      <add key="TicketsUri" value="http://localhost/test:8080/restapi/tickets"/>
      <add key="TicketUri" value="http://localhost/test:8080/restapi/ticket"/>
      <add key="BlanksUri" value="http://localhost/test:8080/restapi/blanks"/>
      <add key="ReportsUri" value="http://localhost/test:8080/restapi/reports"/>
      <add key="ReportUri" value="http://localhost/test:8080/restapi/report"/>
      <add key="OrdersUri" value="http://localhost/test:8080/restapi/orders"/>
      <add key="CustomerUri" value="http://localhost/test:8080/restapi/customer"/>
      <add key="CreateOrderUri" value="http://localhost/test:8080/restapi/create"/>
      <add key="UpdateOrderUri" value="http://localhost/test:8080/restapi/update"/>
      <add key="SendLogUri" value="http://localhost/test:8080/restapi/log"/>
      <add key="SendMessageUri" value="http://localhost/test:8080/restapi/message"/>
      <add key="ConfirmPaymentUri" value="http://localhost/test:8080/restapi/confirm"/>
      <add key="PrintUri" value="http://localhost/test:8080/restapi/print"/>
      <add key="SetTicketPrintedUri" value="http://localhost/test:8080/restapi/printed"/>
      <add key="CancelUri" value="http://localhost/test:8080/restapi/cancel"/>
      <add key="AnnulUri" value="http://localhost/test:8080/restapi/annul"/>
      <add key="LockUri" value="http://localhost/test:8080/restapi/lock"/>
      <add key="ReleaseUri" value="http://localhost/test:8080/restapi/release"/>
    </release>
    <production>
      <add key="ProvidersUri" value="https://localhost/main:43443/restapi/providers"/>
      <add key="StageUri" value="https://localhost/main:43443/restapi/stage"/>
      <add key="LoginUri" value="https://localhost/main:43443/restapi/login"/>
      <add key="ActionsUri" value="https://localhost/main:43443/restapi/actions"/>
      <add key="ActionUri" value="https://localhost/main:43443/restapi/action"/>
      <add key="EventsUri" value="https://localhost/main:43443/restapi/events"/>
      <add key="EventUri" value="https://localhost/main:43443/restapi/event"/>
      <add key="SeatStatsUri" value="https://localhost/main:43443/restapi/seatstats"/>
      <add key="SeatingMapUri" value="https://localhost/main:43443/restapi/seatingmap"/>
      <add key="MapSeatPointsUri" value="https://localhost/main:43443/restapi/mapseatpoints"/>
      <add key="SeatsUri" value="https://localhost/main:43443/restapi/seats"/>
      <add key="TicketsUri" value="https://localhost/main:43443/restapi/tickets"/>
      <add key="TicketUri" value="https://localhost/main:43443/restapi/ticket"/>
      <add key="BlanksUri" value="https://localhost/main:43443/restapi/blanks"/>
      <add key="ReportsUri" value="https://localhost/main:43443/restapi/reports"/>
      <add key="ReportUri" value="https://localhost/main:43443/restapi/report"/>
      <add key="OrdersUri" value="https://localhost/main:43443/restapi/orders"/>
      <add key="CustomerUri" value="https://localhost/main:43443/restapi/customer"/>
      <add key="CreateOrderUri" value="https://localhost/main:43443/restapi/create"/>
      <add key="UpdateOrderUri" value="https://localhost/main:43443/restapi/update"/>
      <add key="SendLogUri" value="https://localhost/main:43443/restapi/log"/>
      <add key="SendMessageUri" value="https://localhost/main:43443/restapi/message"/>
      <add key="ConfirmPaymentUri" value="https://localhost/main:43443/restapi/confirm"/>
      <add key="PrintUri" value="https://localhost/main:43443/restapi/print"/>
      <add key="SetTicketPrintedUri" value="https://localhost/main:43443/restapi/printed"/>
      <add key="CancelUri" value="https://localhost/main:43443/restapi/cancel"/>
      <add key="AnnulUri" value="https://localhost/main:43443/restapi/annul"/>
      <add key="LockUri" value="https://localhost/main:43443/restapi/lock"/>
      <add key="ReleaseUri" value="https://localhost/main:43443/restapi/release"/>
    </production>
  </data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TicketShop.Shell.Properties.Settings>
      <setting name="TimerInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RowCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PrinterIp" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
      <setting name="UserTheme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
      <setting name="UserAccent" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTickets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NetworkMask" serializeAs="String">
        <value>255.255.255.0</value>
      </setting>
      <setting name="AutoRefresh" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </TicketShop.Shell.Properties.Settings>
  </userSettings>
</configuration>
